ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.feedback {
  height: 110px;
  width: 300px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.title {
  font-weight: 900;
  font-size: 28px;
  padding: 20px;
}
.btnBlock {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.statisticsBlock {
  text-align: left;
  padding-left: 80px;
}
.item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
